// Entry point for your Sass build

html, body, #container {
  height: 100%;
}

body {
  margin: 0;
}

#container {
  margin: 0;
  display: flex;
}

#sidebar {
  background-color: #244564;
  display: flex;
  width: 250px;
}

#sidebar-content {
  flex: 1;
}

#sidebar-resizer {
  opacity: 0;
  width: 2px;
}

#sidebar-resizer:hover {
  cursor: col-resize;
}

#content {
  flex: 1;
}

#sidebar-content {
  display: flex;
  flex-direction: column;
  color: white;
}

.sidebar-actual-content {
  flex: 1;
}

.sidebar-footer {
  height: 2.5rem;
}

.sidebar-expand-collapse-button {
  float: right;
  padding: 10px;
}
