// Entry point for your Sass build

html, body, #container {
  height: 100%;
}

body {
  margin: 0;
}

#container {
  margin: 0;
  display: flex;
}

#sidebar {
  background-color: #244564;
  display: flex;
  width: 250px;
}

#sidebar-content {
  flex: 1;
}

#sidebar-resizer {
  opacity: 0;
  width: 5px;
}

#sidebar-resizer:hover {
  cursor: col-resize;
}

#content {
  flex: 1;
}
