// Entry point for your Sass build

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
}

#sidebar {
  background-color: #244564;
  width: 220px;
}

#sidebar-border {
  background-color: #244564;
  opacity: 0;
  width: 5px;
}

#sidebar-border:hover {
  cursor: col-resize;
}
